<?xml version="1.0" encoding="UTF-8"?>  
<unityDataAccess xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Lifetime manager types -->
  <alias alias="string" type="System.String, mscorlib"/>
  <alias alias="int" type="System.Int32, mscorlib"/>
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
  <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
  <container>
  </container>
</unityDataAccess>